aws.s3.bucketNameForConfig=config
aws.s3.bucketNameForMessages=backup
aws.s3.bucketNameForOffsets=offsets
kafka.bootstrap.servers=localhost:19092
aws.s3.region=eu-central-1
aws.s3.endpoint=http://localhost:4572
aws.s3.pathStyleAccessEnabled=true
restore.hash=4e695ea47c1a1966f512ba807e2b9830
restore.dryRun=true
restore.mode=TOPICS,MESSAGES,OFFSETS
restore.topicsDenyList=(connect|__)(.*)
restore.offsets.map.fileName=oldToNewOffsetsMap.json
restore.messages.maxThreads=2
