aws.s3.bucketNameForConfig=config
aws.s3.bucketNameForMessages=backup
restore.time=2020-10-21T12:34:00+01:00
kafka.bootstrap.servers=localhost:19092
restore.topicsAllowList=topic-one
aws.s3.region=eu-1-central
aws.s3.endpoint=http://localhost:4572
aws.s3.pathStyleAccessEnabled=true
restore.hash=config1
restore.dryRun=true
restore.mode=MESSAGES