restore.shouldRestoreTopics=true
aws.s3.bucketNameForConfig=config
aws.s3.bucketNameForMessages=backup
restore.time=2020-10-21T12:34:00+01:00
kafka.bootstrap.servers=localhost:19092
aws.s3.region=eu-1-central
aws.s3.endpoint=http://localhost:4572
aws.s3.pathStyleAccessEnabled=true
restore.hash=9e6ba976b91dc1c0ecfcbb89149e825f
restore.topicList=topic-one,topic-two
restore.dryRun=true
restore.mode=TOPICS